{% load staticfiles %}
{% load bootstrap_themes %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAX ROBOT</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="{% static 'css/Pe-icon-7-stroke.css' %}">

    <!-- Font Awesome -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">


    <!-- PrettyPhoto -->
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- PRELOADER -->
    <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'images/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">INICIO</a> </li>
                            <li><a href="#ABOUT">QUIENES SOMOS </a> </li>
                            <li><a href="#FEATURES">SERVICIOS</a></li>
                            <li><a href="#SCREENS">PANTALLAS</a> </li>
                            <li><a href="http://www.maxrobot.com.mx/login" target="_blank">INGRESO </a> </li>
                            <li><a href="#CONTACT">CONTACTO </a> </li>
                            <li><a href="#BOLETIN">BOLETÍN </a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>soluciones automatizadas en administración y contabilidad</h1>
                            <p>A la medidad de tu empresa</p>
                            <div class="download-btn">
                            <!-- BUTTON -->
                                <a class="btn home-btn wow fadeInLeft" href="http://www.maxrobot.com.mx/login">Ingresar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-4 col-lg-offset-0 col-lg-4">
                        <div class="home-iphone">
                            <img src="{% static 'images/MAX_portada.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




 <!-- =========================
     START ABOUT US SECTION
============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                      <h2>ACERCA DE NOSOTROS</h2>
                      <p>MAX es un conjunto de soluciones informáticas cuya finalidad es la de realizar labores contables y administrativas repetitivas.</p>
                      <p>Nuestros clientes eligen nuestras soluciones como parte natural de su evolución y modernización.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="{% static 'images/MAX_us.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                          <h2>PORQUÉ SOMOS TU MEJOR SOLUCIóN</h2>
                          <p>Nos adaptamos a tus necesidad y tamaño de empresa. Así mismo te podemos proporcionar <em>soluciones a la medida</em>.</p>
                        </div>
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-timer"></i></div>
                                <!-- HEADING DESCRIPTION -->
                              <h3>nuestra misión</h3>
                                <p>Somos la solución automatizada frente a los problemas de contabilidad y administración donde las empresas invierten capital humano que puede dedicarse a otras tareas que nos son rutinarias.</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                              <h3>nuestra visión</h3>
                                <p>Seremos la solución para las empresas en la certificación de sus comprobantes fiscales; la solución a los cálculos de sus nóminas; la cobranza eficaz de su contabilidad, todo en forma automatizada y con reportes puntuales para que puedan tomar las decisiones acertadas en el momento exacto.</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>nuestros valores</h3>
                                <p><strong>Honestidad</strong> - no le daremos más expectativas al cliente de las soluciones reales que otorgamos </p>
                                <p><strong>Empatía</strong> - nos colocaremos <em>en los zapatos del cliente</em> para comprender sus necesidades, carencias y prioridades</p>
                                <p><strong>Confidencialidad</strong> - toda la información del cliente se mantendrá resguardada bajo el sistema electrónico más eficiente y actualizado, al igual que nuestro personal contará con un contrato de confidencialidad</p>
                            </div>
                            <!-- END SINGLE DESC -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    <!-- End About Us -->





 <!-- =========================
     START TESTIMONIAL SECTION
============================== -->

    <!-- END TESTIMONIAL SECTION -->



<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                      <h2>servicios</h2>
                        <p>Comprendemos a detalle los problemas administrativos y contables que se vuelven un <em>hoyo negro</em> en las empresas y que nos nos fáciles de detectar.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>certificación de cfdi's<span>/</span></h3>
                            <p>Automatizamos la certificación de comprobantes de ingresos y egresos (facturas, notas de cargo y crédito) con el SAT en forma automatizada, programada o bajo demanda.</p>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->


                            <!-- FEATURE HEADING AND DESCRIPTION -->


                        </div>
                        <!-- END SINGLE FEATURE -->



                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="{% static 'images/MAX_conectividad.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>control de inventarios</h3>

                            <p>Tenga siempre a la mano la verificación de sus inventarios, entradas, salidas, ventas, devoluciones y comprobación de los inventarios por su personal de venas en forma remota desde su propio teléfono celular</p>

                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <!-- END SINGLE FEATURE -->





                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->



<!-- =========================
     START CALL TO ACTION
============================== -->
    <div class="call_to_action">
        <div class="container">
            <div class="row wow fadeInLeftBig" data-wow-duration="1s">
                <div class="col-md-9">
                  <p>No espere más, solicite un representante para detectar las necesidad propias de su empresa</p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary btn-action" href="#CONTACT" role="button">Contáctenos HOY!</a>
                </div>
            </div>
        </div>
    </div>

    <!-- END CALL TO ACTION -->


<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
    <section class="apps_screen page" id="SCREENS">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                        <!-- APPS SCREEN TITLE -->
                        <div class="section_title">
                          <h2>demo de algunos servicios</h2>
                          <p>Aquí te presentamos la interfaz de acceso y algunos de los reportes que podrá obtener al instante y automáticamente en tu bandeja de correo diario, semanal y mensualmente. </p>
                        </div>
                        <!-- END APPS SCREEN TITLE -->
                    </div>
                </div>
            </div>

        <div class="screen_slider">
            <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
                <div id="owl-demo" class="owl-carousel">

                    <!-- APPS SCREEN IMAGES -->
                    <div class="item">
                    <a href="{% static 'images/screens/iPhone04.png' %}" rel="prettyPhoto[pp_gal]"> <img src="{% static 'images/iPhone04.png' %}" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="{% static 'images/screens/iPhone05.png' %}" rel="prettyPhoto[pp_gal]"> <img src="{% static 'images/iPhone05.png' %}" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="{% static 'images/screens/iPhone06.png' %}" rel="prettyPhoto[pp_gal]"> <img src="{% static 'images/iPhone06.png' %}" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="{% static 'images/screens/iPhone07.png' %}" rel="prettyPhoto[pp_gal]"> <img src="{% static 'images/iPhone07.png' %}" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="{% static 'images/screens/iPhone08.png' %}" rel="prettyPhoto[pp_gal]"> <img src="{% static 'images/iPhone08.png' %}" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="{% static 'images/screens/iPhone09.png' %}" rel="prettyPhoto[pp_gal]"> <img src="{% static 'images/iPhone09.png' %}" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ENS APPS SCREEN -->





<!-- =========================
     Start FUN FACTS
============================== -->




    <!-- END FUN FACTS -->




<!-- =========================
     START DOWNLOAD NOW
============================== -->
    <section class="download page" id="DOWNLOAD">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- DOWNLOAD NOW SECTION TITLE -->
                    <div class="section_title">
                      <h2>Accede al cuestionario para preveer tus necesidades</h2>
                      <p>No le quitaré más de cinco munutos y podremos llegar contigo con la solución a tu medida.</p>
                    </div>
                    <!--END DOWNLOAD NOW SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s"> </div>
                </div>
            </div>
        </div>
</section>
    <!-- END DOWNLOAD -->

<!-- =========================
     START CONTCT FORM AREA
============================== -->
    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                      <h2>contáctenos</h2>
                      <p>Llene este pequeño formulario y un representante te atenderá lo antes posible para darle solución puntual a la automatización de soluciones administrativos y contables.</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Por favor introduzca su nombre</div>
                        <div class="email_error hide error">Por favor introduzca su email</div>
                        <div class="email_val_error hide error">Por favor introduzca un email válido</div>
                        <div class="message_error hide error">Por favor déjenos su mensaje</div>
                    </div>
                    <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- FORM -->
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" placeholder="Nombre">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Tema">
                            </div>


                            <div class="col-md-8">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Texto de su mensaje..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                            <ul>
                                <li><a href="http://facebook.com/raul"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->

<!-- =========================
     Start Subscription Form
============================== -->



     <section class="contact page" id="BOLETIN">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                          <h2>subscríbase a nuestro boletín</h2>
                          <p>Mensualmente recibirá en su bandeja de correo nuestro boletín MAX ROBOT con los mejores tips en administración y contabilidad así como las actualizaciones de las instituciones tributarias.</p>
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row  wow lightSpeedIn">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                        <div class="subscription-success"></div>
                        <div class="subscription-error"></div>


                        <form method="post" name="subscribeform" action="http://gosesa.com.mx/listas/phplist/?p=subscribe&id=1">
						<input type="hidden" name="maxrobot" value="signup">

                                <!-- EMAIL INPUT BOX -->
                          <input type="name" value="" name="name" class="required name form-control" id="name" placeholder="Introduzca su nombre">
                                <input type="email" value="" name="email" class="required email form-control" id="email" placeholder="Introduzca su correo electrónico">

                                <!-- SUBSCRIBE BUTTON -->
                          <button type="submit" class="btn btn-default subs-btn">Suscríbase</button>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END SUBSCRIPBE FORM -->


<!-- =========================
     FOOTER
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1">
                    <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                    <p>Copyright &copy; 2016 MAX ROBOT | Presa 169 - 2 Col. San Jerónimo Lídice 10200, Ciudad de México +52 (55) 6647.93.77</p>
                    </div>

                <div class="col-md-10 col-lg-11">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
		</div>
    </section>
    <!-- END FOOTER -->


<!-- =========================
     SCRIPTS
============================== -->


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>

    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>



</body>

</html>