{% extends "cfdipanel/base.html" %}

{% block content %}
<div class="col-sm-6 col-md-4 col-md-offset-4 card">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<center>
<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
</center>
  <form id="signin" class="form-signin" method="post" action="{% url 'login' %}" role="form">
  {% csrf_token %}
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {# {{ form.username }} #}
      <input autofocus="" id="id_username" maxlength="18" name="username" type="text" required="" class="form-control" value="" placeholder="Nombre de Usuario">
      </div>

    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {# {{ form.password }} #}
        <input id="id_password" name="password" type="password" required="" class="form-control" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default btn-lg btn-block">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
   </form>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
</div>
{% endblock %}
