{% extends "cfdipanel/base_users.html" %}
{% block content %}
    {% if user.is_authenticated %}
    <div>
        <p>Bienvenido {{ user.username }} !!!</p>
    </div>
    {% for report in reports %}
        <div>
            <p>publicado: {{ report.published_date }}</p>
            <h1><a href="{% url 'report_detailh' pk=report.pk %}">{{ report.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        <hr>
        {% empty %}
        <h3> Aun no tenemos reportes de su usuario </h3>
        {% endfor %}
        {% else %}
        <p>porfavor logeate</p>
    {% endif %}
{% endblock %}
  </body>
</html>