{% extends "cfdipanel/base_users.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="report">
            {% if report.published_date %}
                <div class="date">
                    <p><b>Fecha de Publicacion:</b>{{ report.published_date }}</p>
                </div>
            {% endif %}
            <h3>{{ report.title }}</h3>
            <p>
              <button id="dl" class="btn btn-primary">Descargar</button>
              <script>
                $("#dl").click(function(){
                        $("#myTable").table2csv('output', {appendTo: '#out'});
                        $("#myTable").table2csv();
                })
              </script>
            </p>
            <p>Descripción del Reporte:{{ report.body|linebreaksbr }}</p>
            <p>Facturas en este reporte: <b>{{ invoices.count }}</b></p>
                <div class="facturas">
                    <table id="myTable" class="tablesorter table table-bordered">
                    <thead>
                    <tr>
                        <th>RFC Emisor</th>
                        <th>RFC Receptor</th>
                        <th>Importe</th>
                        <th>UUID</th>
                        <th>Fecha de Timbrado</th>
                        <th>Tipo de Factura</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoices.all %}
                    <tr>
                        <td>{{ invoice.re }}</td>
                        <td>{{ invoice.rr }}</td>
                        <td>{{ invoice.tt }}</td>
                        <td>{{ invoice.uuid }}</td>
                        <td>{{ invoice.emision_date }}</td>
                        <td>{{ invoice.type_invoice }}</td>
                        <td>{{ invoice.status }}</td>
                    </tr>
                    {% empty %}
                    <p>No existen facturas en este Reporte :(</p>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
        </div>
    {% endif %}
{% endblock %}
  </body>
</html>